.page-wrapper {
  width: 100%;
  position: relative;
  z-index: 0;
  margin-bottom: 1px;
  -webkit-transition: .7s padding cubic-bezier(.25,1,.25,1);
  transition: .7s padding cubic-bezier(.25,1,.25,1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #171717;
}

.page-wrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #171717;
}

.body-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
  z-index: 1;
}

.body-wrapper .flex {
  display: flex;
  width: 100vw;
  height: 100%;
}

.body-wrapper .flex.center {
  justify-content: center;
  align-content: center;
  align-items: center;
}

.body-wrapper .flex.center-top {
  justify-content: center;
}

.body-wrapper .header {
  height: 65%;
  flex-direction: column;
}

.body-wrapper .header .title {
  text-align: center;
  color: #fff;
  font-weight: 800;
  font-size: 50px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 5px;
}

.body-wrapper .header .subtitle {
  display: block;
  font-size: 25px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 25px;
  text-align: center;
}

.body-wrapper .header .summay {
  display: block;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

.card-shelf {
  flex-direction: column;
  padding-top: 30px;
  justify-content: center;
}

.card {
  padding: 25px 0px;
  margin: 25px;
  background-color: #fff;
  border-radius: 5px;
  min-width: 200px;
  width: 80vw;
  max-width: 500px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .title {
  font-size: 30px;
  color: #000;
}



.show {
  display: block !important;
}

.body-wrapper .form-row {
  text-align: right;
}

.wrapper .form-wrapper .form-row:not(:first-child) {
  margin-top: 14px;
}

.wrapper .form-wrapper .form-row .input-wrapper {
  position: relative;
  padding-left: 40px;
  border-radius: 3px;
  height: 40px;
  text-align: left;
  filter: drop-shadow(0 3px 5px rgba(25,38,56,.14));
}

.wrapper .form-wrapper .form-row .input-wrapper input {
  width: 340px;
  height: 100%;
  border: 0;
  background: 0 0;
  font-size: 14px;
  padding: 0 14px;
  line-height: 40px;
  background-color: #FFFFFF;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px
}

body, body *, body :after, body :before {
  box-sizing: border-box;
}

body, input, textarea {
  font-family: "Roboto",sans-serif;
  font-weight: 400;
}

.wrapper .form-wrapper .form-row .input-wrapper .input-pre {
  width: 40px;
  height: 40px;
  background: #797B7A;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 2px 0 0 2px;
  border: 0;
  transition: .57s background cubic-bezier(.25,1,.25,1);
}

.wrapper .form-wrapper .form-row .input-wrapper:focus-within .input-pre {
  background: #414544;
}

.wrapper .form-wrapper .form-row .input-wrapper .input-pre svg {
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 2;
}

.wrapper .form-wrapper .form-row .text-button {
  margin-right: 0;
  font-size: 12px;
  margin-top: 5px;
}

.wrapper .form-wrapper .form-actions {
  text-align: right;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-content:center;
  align-items: center;
}

:link {
  text-decoration: none;
}

.wrapper .form-wrapper .text-button {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  margin-right: 15px;
  cursor: pointer;
  opacity: .7;
  transition: .7s opacity cubic-bezier(.25,1,.25,1);
}


.wrapper .form-wrapper .text-button.inline{
  margin-right: 0px;
}
.wrapper .form-wrapper .form-actions .form-button {
  display: inline-block;
  position: relative;
}

.btn-large-primary-outlined, .btn-medium-primary-outlined, .btn-primary-outlined, .btn-small-primary-outlined {
  background: 0 0;
  border: 2px solid rgb(52, 58,64);
  color: #fff;
  background-color: rgba(52, 58,64, 0.2);
}
.btn-large-medium, .btn-medium, .btn-medium-medium, .btn-small-medium {
  line-height: 36px;
  padding: 0 40px;
  font-size: 16px;
  font-weight: 300;
}
.btn, .btn-large, .btn-medium, .btn-small {
  display: inline-block;
  border-radius: 2px;
  cursor: pointer;
  transition: .7s all cubic-bezier(.25,1,.25,1);
  transition-property: width,background,color,border,padding;
}

.btn:hover, .btn-large:hover, .btn-medium:hover, .btn-small:hover {
  background-color: #343a40;
}

.wrapper .form-wrapper .form-actions .form-button .inline-loader {
  opacity: 0;
  transition: .3s all cubic-bezier(.25,1,.25,1);
  position: absolute;
  right: 7px;
  top: 50%;
  margin-top: -10px;
}

.inline-loader {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: simple-spin .7s linear infinite;
  vertical-align: middle;
}

.sign-in-services.show {
  transform: scale(1);
  opacity: 1;
  pointer-events: all;
}

.sign-in-services {
  height: 195px;
  margin-top: -195px;
  transform: scale(.5);
  opacity: 0;
  transition: transform .8s cubic-bezier(.25,1,.25,1),opacity .5s cubic-bezier(.25,1,.25,1);
  pointer-events: none;
}

.sign-in-btn {
  height: 40px;
  background: #fff;
  margin: 4px auto;
  padding: 0px;
  line-height: 40px;
  border-radius: 2px;
  max-width: 300px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0,0,0,.1);
  transition: opacity .1s linear;
}

.sign-in-btn > .btn-icon {
  background: #797B7A;
  width: 40px;
  height: 100%;
  padding: 8px;
  margin-right: 12px;
  vertical-align: top;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  display: inline-flex;
}
.sign-in-btn > .btn-icon > img {
  width: 100%;
  height: 100%;
}

.wrapper .error {
  margin: 15px 0 0;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #a23838;
  font-weight: 500;
  color: #fff8f8;
  text-transform: none;
  background: rgba(72,25,25,.74);
  line-height: 1.2;
  border-radius: 3px;
  transition: all .1s linear, transform .8s cubic-bezier(.25,1,.25,1),opacity .5s cubic-bezier(.25,1,.25,1);
}

.wrapper .error:empty {
  transform: scale(.5);
  opacity: 0;
  pointer-events: none;
  padding: 0;
}

.sign-in-btn .btn-text {
  display: inline-block;
  vertical-align: middle;
  color: black;
  font-family: Roboto;
  font-weight: 400;
}

.sign-in-btn.disabled {
  cursor: no-drop;
  opacity: .4!important;
}

.tou-section.for-connected-login {
  margin: 0 auto;
  margin-top: 7px;
  text-align: justify;
}
.tou-section {
  font-size: 13px;
  color: #fff;
  margin-top: 8px;
  margin-bottom: 8px;
  opacity: .6;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.form-more-options {
  margin-top: 24px;
  color: #fff;
  opacity: .45;
  text-align: center;
  background: hsla(0,0%,100%,.03);
  padding: 5px;
  border-radius: 2px;
  cursor: pointer;
  transition: background .7s cubic-bezier(.25,1,.25,1);
}